# MongoDB Connection
# Example: mongodb+srv://admin:p@ssword123@cluster0.mongodb.net/my_app?retryWrites=true&w=majority
MONGODB_URI=mongodb+srv://mariumislam280:manim321@mariumcluster.udbdeky.mongodb.net/portfolio

# Better Auth Configuration
# A long random string for encryption
BETTER_AUTH_SECRET=986db2946dcfcb471c15f6b7c7b253028ccb44d4a29de0e7fefd9d847d4d987b
# Your application's base URL
# Example: https://ais-dev-...run.app
BETTER_AUTH_URL=https://libro-delta.vercel.app/
